<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressrionTCs">
  <test thread-count="5" name="SeleniumDemo">
    <classes>
      <class name="RegresstionTestCases.doCheckDropdownList"/>
      <class name="RegresstionTestCases.doCheckGoogleSearchBtnExist"/>
      <class name="RegresstionTestCases.doGetTagValue"/>
    </classes>
  </test> <!-- SeleniumDemo -->
</suite> <!-- RegressrionTCs -->
